TASK:01

In [ ]:
def my_function(x,y):
  if(y==0):
    print(0)
  elif(x%y==0):
    print(0)
  else:
    division=x/y
    division1=x//y
    print(division-division1)
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
my_function(x,y)

Enter a number: 5
Enter a number: 2
0.5

TASK:02

In [ ]:
def amikenomota(height,weight):
  meter=height/100
  bmi=weight/meter**2
  print("Score is %.1f" %bmi,end=" .")
  if(bmi<18.5):
    print("You are Underweight")
  elif(18.5<=bmi<=24.9):
    print("You are Normal")
  elif(25<=bmi<=30):
    print("You are Overweight")
  elif(bmi>30):
    print("You are Obese")   
height=int(input("Enter your height in centimeters: "))
weight=int(input("Enter your weight in kilograms: "))
amikenomota(height,weight)

Enter your height in centimeters: 152
Enter your weight in kilograms: 48
Score is 20.8 .You are Normal

TASK:03

In [ ]:
def my_function(minimum,maximum,divisor):
  counter=0
  for i in range(minimum,maximum):
    if(i%divisor==0):
      counter+=i
  print(counter)
minimum=int(input("Enter the minimum value: "))
maximum=int(input("Enter the maximum value: "))
divisor=int(input("Enter the divisor: "))
my_function(minimum,maximum,divisor)

Enter the minimum value: 0
Enter the maximum value: 10
Enter the divisor: 2
20

TASK:04

In [ ]:
def chillox(burger,place="Mohakhali"):
  if(place=="Mohakhali" or place==""):
    if(burger=="BBQ Chicken Cheese Burger"):
      amount=250+40+250*0.08
    elif(burger=="Beef Burger"):
      amount=170+40+170*0.08
    elif(burger=="Naga Drums"):
      amount=200+40+200*0.08
  else:
    if(burger=="BBQ Chicken Cheese Burger"):
      amount=250+60+250*0.08
    elif(burger=="Beef Burger"):
      amount=170+60+170*0.08
    elif(burger=="Naga Drums"):
      amount=200+60+200*0.08
  print(amount)
burger=input("Enter the name of the burger: ")
place=input("Enter the name of the place: ")
chillox(burger,place)

Enter the name of the burger: Beef Burger
Enter the name of the place: Dhanmondi
243.6

TASK:05

In [ ]:
def replace_domain(check,new,old="kaaj.com"):
  if(old in check):
    for i in check:
      if(i=="@"):
        location=check.find(i)
    print("Changed: ",check[0:location+1]+new)
  else:
    print("Unchanged: ",check)
check=input("Enter the email address: ")
new=input("Enter the new domain: ")
old=input("Enter the old domain: ")
replace_domain(check,new,old)

Enter the email address: alice@kaaj.com
Enter the new domain: sheba.xyz
Enter the old domain:
Changed:  alice@sheba.xyz

TASK:06

In [ ]:
def my_function(name):
  vowels=["a","e","i","o","u"]
  vowel=""
  counter=0
  for i in name:
    if(i in vowels):
      counter+=1
      if(vowel==""):
        vowel+=i
      else:
        vowel=vowel+","+i
  if(counter==0):
    print("No vowels in the name.")
  else:
    print("Vowels: ",vowel+".","Total number of vowels: ",counter)
name=input("Enter your name: ")
my_function(name)

Enter your name: Steve Jobs
Vowels:  e,e,o. Total number of vowels:  3

TASK:07

In [ ]:
x=input("Enter anything: ")
new=""
if(" " in x):
  for i in x:
    if(i==" "):
      pass
    else:
      new+=i
  reverse=new[::-1]
  if(reverse==new):
      print("Palindrome")
  else:
      print("Not a Palindrome")
else:
  reverse=x[::-1]
  if(reverse==x):
    print("Palindrome")
  else:
    print("Not a Palindrome")

Enter anything: nurses run
Palindrome

TASK:08

In [ ]:
def my_function(day):
  year=day//365
  r_month=day-(year*365)
  month=r_month//30
  r_day=r_month-(month*30)
  print(f"{year} years, {month} months and {r_day} days")
day=int(input("Enter the number of days: "))
my_function(day)

Enter the number of days: 4000
10 years, 11 months and 20 days

TASK:09

In [ ]:
def capitalize(string):
  new=""
  flag=False
  for letter in range(len(string)):
    if(letter==0):
      update=string[letter].upper()
      new+=update
    elif(string[letter]=="." or string[letter]=="!" or string[letter]=="?"):
      flag=True
      new+=string[letter]
    elif(chr(97)<=string[letter]<=chr(122) and flag==True):
      update=string[letter].upper()
      new+=update
      flag=False
    elif(string[letter]=="i" and string[letter+1]==" " and string[letter-1]==" "):
      update=string[letter].upper()
      new+=update
    else:
      new+=string[letter]
  print(new)
string=input("Enter anything: ")
capitalize(string)

Enter anything: my favourite animal is a dog. a dog has sharp teeth so that it can eat flesh very easily. do you know my pet dog’s name? i love my pet very much.
My favourite animal is a dog. A dog has sharp teeth so that it can eat flesh very easily. Do you know my pet dog’s name? I love my pet very much.